<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>操作成功</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../Media/material.min.css">
    <link rel="stylesheet" href="../Media/styles.css">
    <style>
   
	
	
	  
	.demo-card-wide.mdl-card {
	  width: 1200px;
	  
	}
	.demo-card-wide > .mdl-card__title {
	  color: #fff;
	  height: 556px;
	  margin:5px;
	  
	  
	  background: url('../Media/j.jpg') center / cover;
	}
	
	
	.demo-card-wide > .mdl-card__menu {
	  color: #fff;
	}

    </style>
  
</head>

<body  class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">图书管理</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="../index/" >返回首页</a>
      </nav>
    </div>
  </header>
  
  <main class="mdl-layout__content">
    <div class="page-content">
    
 
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text mdl-color--green-A400">操作成功</h2>
  </div>
  <div class="mdl-card__supporting-text">
    往事随风飘荡<br>
    记忆中和你的笑声<br>
    像风铃一般回荡<br>
	<br>
    <br>
    <br>
        <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="../index/">
          返回首页
        </a>
  </div>
</div>




</section>
  </main>

</div>


<script src="../Media/material.min.js"></script>
</body>
</html>
